#Aula 1: Ordem de Execução dos Programas<br>
A ordem é de cima pra baixo

In [2]:
faturamento = 1000
custo = 300

lucro = faturamento - custo
print(lucro)

faturamento = 500
custo = 200

lucro = faturamento - custo
print(lucro)

700
300

Aula 2: Tipos de Variáveis<br>

Uma variável é um objeto, afinal tudo é objeto em Python.<br><br>

int -> inteiro<br>
string -> texto<br>
float -> números com casas decimais (ponto flutuante)<br>
bool ou bolean -> true ou false<br><br>

Obs. Variáveis em Python não são declaradas explicitamente, mas isso não significa que se deve ficar mudando o tempo todo
<br><br>

Obs2: Cuidado com os nomes restritos, não devem ser usados como nomes de variáveis.

In [7]:
faturamento = 1000
type(faturamento)

int

In [8]:
faturamento = 1000.00
type(faturamento)

float

In [9]:
faturamento = '1000'
type(faturamento)

str

In [11]:
ganha_bonus = True
type(ganha_bonus)

bool

Aula 3: 
Misturando Tipos de Variáveis

In [13]:
faturamento = 1000

print('O faturamento da loja, foi: ' + str(faturamento))

O faturamento da loja, foi: 1000

Aula 4: Comando Format

In [16]:
faturamento = 2000
custo = 400
lucro = faturamento - custo

print('O faturamento da loja foi R${}. O custo da loja foi R${}. O lucro total foi R${}.'.format(faturamento, custo, lucro))

O faturamento da loja foi R$2000. O custo da loja foi R$400. O lucro total foi R$1600.

Aula 5: Fstring e Mudança de Tipos de Variáveis

F-string

In [20]:
faturamento = 1000
custo = 855

lucro = faturamento - custo

# com format
print('O faturamento foi de R${} e o lucro deR${}'.format(faturamento, lucro))

# com f-string
print(f'O faturamento foi de R${faturamento} e o lucro de R${lucro}.')

O faturamento foi de R$1000 e o lucro deR$145
O faturamento foi de R$1000 e o lucro de R$145.

Mudança de tipo de variável

In [24]:
faturamento = float(input('Insira o faturamento'))
custo = float(input('Insira o custo'))

print(type(faturamento))
print(type(custo))

lucro = faturamento - custo
print(lucro)

# str -> muda para string
# int -> muda para inteiro
# float -> muda para float

Insira o faturamento 4523.45
Insira o custo 478.25

<class 'float'>
<class 'float'>
4045.2